.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;

  &.gridReverse {
    grid-template-columns: 2fr 1fr;

    & > div:first-child {
      order: 2;
    }
  }

  h3 {
    margin-bottom: 0.5em;
  }
}
