ul.overview {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    list-style: none;

    a {
      background: var(--color-foreground);
      border-radius: var(--border-radius);
      padding: 16px;
      display: flex;
      gap: 16px;
      transition: all 0.3s ease;

      &:hover {
        background: var(--color-background);
      }

      * {
        font-size: 16px;
      }
    }
  }
}

.sideNav {
  z-index: 2;
  position: fixed;
  margin-left: var(--outer-gutter);
  max-width: max-content;
  top: 50%;
  transform: translate3d(-100%, -50%, 0);
  pointer-events: none;
  opacity: 0;
  transition: all 1s cubic-bezier(0.7, 0, 0.1, 1) 0s;

  &.visible {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
    pointer-events: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &.expanded {
      a {
        width: auto;
        height: auto;
        gap: 24px;

        span.title {
          visibility: visible;
          transition: all 0.2s ease-out;
          transform: translate3d(0, 0, 0);
          margin-bottom: 8px;
        }
      }
    }

    li {
      box-sizing: border-box;
      list-style: none;
      margin-bottom: 10px;
      display: block;
      // max-width: max-content;

      a {
        position: relative;
        background-color: transparent;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        border-radius: 8px;
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 14px;
        line-height: 1;
        width: var(--side-navigation-size);
        height: var(--side-navigation-size);
        transition: all 0.5s ease-out;

        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background-color: #00000088;
          transition: all 0.5s ease-out;
          backdrop-filter: blur(20px);
        }

        span.title {
          visibility: hidden;
          transform: translate3d(-4px, 0, 0);
          visibility: hidden;
          display: inline-block;
        }

        span.comment {
          display: block;
          max-width: 60ch;
          line-height: 1.4em;
        }

        &:hover {
          width: auto;

          span.title {
            visibility: visible;
            transition: all 0.2s ease-out;
            transform: translate3d(0, 0, 0);
          }
        }

        &:hover,
        &.active {
          opacity: 1;

          .background {
            background-color: #000000;
          }
        }

        &.active {
          margin-left: 6px;
        }
      }
    }
  }
}
